
<!DOCTYPE html>
<html>
<head><title>Eco-Gen</title>
<link "rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <header>eco-gen</header>
  <a href="ecoresources">ecoresources</a>
  <a href="ecobot">ecobot</a>
  <a href="ecogov">ecogov</a>
  <a href="about">about</a>

<img src="https://www.nationalgeographic.com/content/dam/travel/rights-exempt/Travel-2016/59-parks-52-weeks/north-cascades/north-cascades-national-park-picture-lake-mount-shuksan.jpg"
  
  <form>
      <form method="POST" action="/eco_gen"> 
       <p>Your State: <input type="text" state="state"></p>
       <input type="submit">
       <!--button above!-->
      </form>

</body>

<footer>
  <p>made with the help of kode with klossy</p>
</footer>


</html>


<!DOCTYPE html>
<html>
<head><title>Eco-Gen</title>
<link "rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <h2>eco-gen</h2>
                                                        <a href="ecoresources"><p style="color:#006600";>ecoresources</p></a>
  <a href="ecobot">ecobot</a>
  <a href="ecogov">ecogov</a>
  <a href="about">about</a>

<img src="https://www.nationalgeographic.com/content/dam/travel/rights-exempt/Travel-2016/59-parks-52-weeks/north-cascades/north-cascades-national-park-picture-lake-mount-shuksan.jpg"

</body>

<footer>
  <p>made with the help of kode with klossy</p>
</footer>


</html>





